// COLOR VARS
// ==============================
$white: #ffffff;
$white-200: #fcfcfc;
$white-400: #f4f4f4;
$black: #000000;
$black-400: #282d36;
$light-black: #3d3f42;
$black-300: #2b2b2d;
$black-100: #1d2127;
$light-green: #0a3e52;
$green-200: #7ad720;
$brand-color: #174467;
$body-color: #777777;
$body-bg: #ffffff;
$primary-color: $brand-color;
$off-white: #a3c3ee;
$info: #1b9096;
$danger: #eb3d00;
$red: #F4524D;
$red-dark: #f23630;
$light-blue: #08c;
$dark-blue: #175274;
$blue-200: #0e4463;
$blue-400: #3f85ef;
$blue-600: #0099e6;
$sky-blue: #01b4e3;
$yellow: #ffc600;

$purple: #5f39c2;

$dark-gray: #a8a8a8;
$light-gray: #3e485d;
$gray: #394c4c;
$grayish:#5b5b5f;
$gray-500: #dfe1e3;
$gray-600: #b7b9b4;
$gray-800: #999999;
$gray-300: #dadada;

$facebook: #3b5a9a;
$twitter: #1aa9e1;
$instagram: #7c4a3a;
$linkedin: #0073b2;


// BREAKPOINT VARS
// ==============================

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 999px;
$bp-xlarge: 1440px;

// CONTAINER SIZE
// ==============================
$container-fluid: 1903px;
$container-large: 1170px;
$container-medium: 1024px;
$container-small: 900px;
$container-xs: 767px;
