.btn {
    cursor: pointer;
    padding: .5em 2.5em;
    background-color: $primary-color;
    color: $white;
    text-transform: uppercase;
    border: 1px solid $primary-color;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    outline: 0;
}
.btn-outline {
    background-color: transparent;
    color: $primary-color;
    border-width: 2px;
}
