.privacy-policy-page{
	.breadcrumbs-wrap {
        color: $dark-gray;
        margin: 1rem 0;

        .breadcrumbs-links {
            font-size: 14px;
            text-decoration: none;

            &:after {
                content: '\f101';
                font-family: FontAwesome;
                padding: 0 .5rem;

            }
        }

        .breadcrumb-text {
            font-size: 14px;
        }
    }
    .adobe-heding {
        background-color: $sky-blue;
        margin: 2rem 0;

        .adobe-title {
            font: 32px "Open Sans";
            color: $white;
            padding: .5rem 0;
            font-weight: 700;
        }
    }
    .privacy-policy-desc{
    	font: 15px 'Open Sans',sans-serif;
    	color: $body-color !important;
    	margin: 1.2rem 0;
    }
    .text-link{
           font: 15px 'Open Sans',sans-serif;
           color: $red !important;
           
        }
    .privacy-policy-title{
        font-size: 22px;
        color: $black-100;
        margin: 1rem 0;
        font-weight: 700;
    }
    .payment-info{
        padding: 0 2rem;
        margin-bottom: 3rem;
        .payment-desc{
            padding: .3rem 0;
            font-size: 15px;
        }
    }
}